#set($title = "正在扫码支付")

#extends("page/layouts/main.vm")

#block("head_meta")
<script>/**
 * YDUI 可伸缩布局方案
 * rem计算方式：设计图尺寸px / 100 = 实际rem  例: 100px = 1rem
 */
!function (window) {

    /* 设计图文档宽度 */
    var docWidth = 750;

    var doc = window.document,
        docEl = doc.documentElement,
        resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize';

    var recalc = (function refreshRem () {
        var clientWidth = docEl.getBoundingClientRect().width;

        /* 8.55：小于320px不再缩小，11.2：大于420px不再放大 */
        docEl.style.fontSize = Math.max(Math.min(20 * (clientWidth / docWidth), 11.2), 8.55) * 5 + 'px';

        return refreshRem;
    })();

    /* 添加倍屏标识，安卓倍屏为1 */
    docEl.setAttribute('data-dpr', window.navigator.appVersion.match(/iphone/gi) ? window.devicePixelRatio : 1);

    if (/iP(hone|od|ad)/.test(window.navigator.userAgent)) {
        /* 添加IOS标识 */
        doc.documentElement.classList.add('ios');
        /* IOS8以上给html添加hairline样式，以便特殊处理 */
        if (parseInt(window.navigator.appVersion.match(/OS (\d+)_(\d+)_?(\d+)?/)[1], 10) >= 8)
            doc.documentElement.classList.add('hairline');
    }

    if (!doc.addEventListener) return;
    window.addEventListener(resizeEvt, recalc, false);
    doc.addEventListener('DOMContentLoaded', recalc, false);

}(window);
</script>
<link rel="stylesheet" type="text/css" href="//mobile.xiaobaii.com/roncoo-h5/static/css/page/demo_49a5b2e.css">
#end

#block("body")

<section class="g-flexview">

	<div class="g-scrollview" style="background: #4cb62e;">
		<div class="container-pay">
      
    </div>
	</div>
</section>
<script type="text/template" id="tmplPay">
  <img src="//mobile.xiaobaii.com/roncoo-h5/static/images/user-center/weixin-pay_8fd3756.png" width="150" height="47">
  <div class="inner">
    <div class="price">¥ <%=amount%></div>
    <img class="qrcode" src="<%=qrCode%>" />
    <div class="text-error">当前二维码只能使用一次，请勿保存后多次使用！如第一次支付失败，请稍等1-5分钟后重新进入充值即可！</div>
    <div><span class="time">120秒</span></div>
    <a href="/bjl/<%=userId%>" class="btn-back">返回游戏</a>
  </div>
</script>
#parse("../pages/common/_script.vm")
<script src="//mobile.xiaobaii.com/roncoo-h5/static/js/page/pay_747075e.js"></script>
#end

  ## auto inject by fis3-preprocess-extlang
  #require("page/pages/pay/index.vm")
#end