
<script src="//mobile.xiaobaii.com/roncoo-h5/static/js/lib/jquery.min_6c95078.js"></script>
<script src="//mobile.xiaobaii.com/roncoo-h5/static/js/lib/swiper.min_b27795f.js"></script>
<script src="//mobile.xiaobaii.com/roncoo-h5/static/js/lib/underscore-min_dd958b8.js"></script>
<script src="//mobile.xiaobaii.com/roncoo-h5/static/js/page/base_ae06271.js"></script>