<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lontyu.dwjadmin.dao.BjlOrderMapper">
    <resultMap id="BaseResultMap" type="com.lontyu.dwjadmin.entity.BjlOrder">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="vip_id" jdbcType="INTEGER" property="vipId"/>
        <result column="periods" jdbcType="VARCHAR" property="periods"/>
        <result column="buy_amount" jdbcType="NUMERIC" property="buyAmount"/>
        <result column="support_win" jdbcType="INTEGER" property="supportWin"/>
        <result column="selected_size" jdbcType="INTEGER" property="selectedSize"/>
        <result column="video_serial" jdbcType="VARCHAR" property="videoSerial"/>
        <result column="final_result" jdbcType="INTEGER" property="finalResult"/>
        <result column="count_commission" jdbcType="INTEGER" property="countCommission"/>
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, vip_id, periods, buy_amount, support_win,selected_size,video_serial, final_result, count_commission, add_time,remark
  </sql>

    <select id="getAmountByDate" parameterType="java.util.Map" resultMap="BaseResultMap">
      select A.selected_size,A.buy_amount from bjl_order A
      where A.support_win=#{supportWin,jdbcType=INTEGER}
      AND DATE_FORMAT(A.add_time,'%Y-%m-%d')=#{currentDate,jdbcType=VARCHAR}
    </select>

    <select id="getSupportList" resultMap="BaseResultMap">
        select A.selected_size,A.buy_amount from bjl_order A
        where A.support_win=#{supportWin,jdbcType=INTEGER} and periods=#{periods,jdbcType=VARCHAR}
    </select>

    <select id="selectRecordsByResult" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bjl_order
        where final_result=#{sign,jdbcType=INTEGER} order by add_time asc
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bjl_order
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByPrimaryKeyForUpdate" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bjl_order
        where id = #{id,jdbcType=INTEGER} for update
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bjl_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insertSelective" parameterType="com.lontyu.dwjadmin.entity.BjlOrder">
        insert into bjl_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="vipId != null">
                vip_id,
            </if>
            <if test="periods != null">
                periods,
            </if>
            <if test="buyAmount != null">
                buy_amount,
            </if>
            <if test="supportWin != null">
                support_win,
            </if>
            <if test="selectedSize != null">
                selected_size,
            </if>
            <if test="videoSerial != null">
                video_serial,
            </if>
            <if test="finalResult != null">
                final_result,
            </if>
            <if test="countCommission != null">
                count_commission,
            </if>
            <if test="addTime != null">
                add_time,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="vipId != null">
                #{vipId,jdbcType=INTEGER},
            </if>
            <if test="periods != null">
                #{periods,jdbcType=VARCHAR},
            </if>
            <if test="buyAmount != null">
                #{buyAmount,jdbcType=DECIMAL},
            </if>
            <if test="supportWin != null">
                #{supportWin,jdbcType=INTEGER},
            </if>
            <if test="selectedSize != null">
                #{selectedSize,jdbcType=INTEGER},
            </if>
            <if test="videoSerial != null">
                #{videoSerial,jdbcType=VARCHAR},
            </if>
            <if test="countCommission != null">
                #{countCommission,jdbcType=INTEGER},
            </if>
            <if test="finalResult != null">
                #{finalResult,jdbcType=INTEGER},
            </if>
            <if test="addTime != null">
                #{addTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateOrderStatus" parameterType="java.util.Map">
        update bjl_order set final_result=#{sign,jdbcType=INTEGER} where id= #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.lontyu.dwjadmin.entity.BjlOrder">
        update bjl_order
        <set>
            <if test="vipId != null">
                vip_id = #{vipId,jdbcType=INTEGER},
            </if>
            <if test="periods != null">
                periods = #{periods,jdbcType=VARCHAR},
            </if>
            <if test="buyAmount != null">
                buy_amount = #{buyAmount,jdbcType=DECIMAL},
            </if>
            <if test="supportWin != null">
                support_win = #{supportWin,jdbcType=INTEGER},
            </if>
            <if test="selectedSize != null">
                selected_size = #{selectedSize,jdbcType=INTEGER},
            </if>
            <if test="videoSerial != null">
                video_serial = #{videoSerial,jdbcType=VARCHAR},
            </if>
            <if test="finalResult != null">
                final_result = #{finalResult,jdbcType=INTEGER},
            </if>
            <if test="countCommission != null">
                count_commission = #{countCommission,jdbcType=INTEGER},
            </if>
            <if test="addTime != null">
                add_time = #{addTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectDueOpenPrizeOrders"  resultMap="BaseResultMap">
        SELECT

       od.id, od.vip_id, od.periods, od.buy_amount, od.support_win,od.selected_size,od.video_serial, od.final_result, od.add_time,od.remark

         FROM `bjl_order` od INNER JOIN `bjl_draw_records` re ON

        od.`periods`=re.`award_period` AND od.final_result = 0 AND re.draw_result != 0;
    </select>

    <select id="statPeriodBetAmount" resultType="com.lontyu.dwjadmin.vo.DrawRecodeRespVO">
        SELECT
               IFNULL( sum( t.buy_amount ), 0 ) AS betAmount,
               IFNULL( sum( IF ( t.selected_size = 1, t.buy_amount, 0 ) ), 0 ) AS betAmount1,
               IFNULL( sum( IF ( t.selected_size = 2, t.buy_amount, 0 ) ), 0 ) AS betAmount2,
               IFNULL( sum( IF ( t.selected_size = 3, t.buy_amount, 0 ) ), 0 ) AS betAmount3,
               IFNULL( sum( IF ( t.selected_size = 4, t.buy_amount, 0 ) ), 0 ) AS betAmount4,
               IFNULL( sum( IF ( t.selected_size = 5, t.buy_amount, 0 ) ), 0 ) AS betAmount5
        FROM
             bjl_order t
        WHERE
                t.periods = #{periods}
        GROUP BY
                 t.periods
    </select>
    <select id="selectDueOutCommissionOrders" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List"/>
      from bjl_order o
        where count_commission = 0
    </select>
</mapper>